<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<GridLayout backgroundColor="red">
    <!-- Add your page content here -->
    <BottomSheet #bottomSheet (stateChange)="onStateChange($event)">
        <StackLayout class="m-t-30">
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
            <Label text="element" height="100"></Label>
        </StackLayout>
    </BottomSheet>
</GridLayout>
